/* Horitzontal scroll for a div with a lot of plots */
div .plot-holder {
    overflow: auto;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-content {
    padding-left: 10px;
    padding-right: 10px;
}
