/* Horitzontal scroll for a div with a lot of plots */
div .plot-holder {
    overflow: auto;
    height: 600px;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-content {
    padding-left: 10px;
    padding-right: 10px;
}

.centered {
    text-align: center;
}

.btn-token {
    margin-top: 40px;
}
