<!DOCTYPE html>
<html lang="en">
<head>
<title>Commitator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Simple WebApp to show some GitHub stats on a nice way">
<meta name="author" content="Guillermo Carrasco">
<meta charset="utf-8">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
</head>
<body>
{% block navbar %}
<div class="navbar navbar-inverse navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://github.com/guillermo-carrasco/commitator">Welcome to Commitator!</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="GitHub organization..." class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Fetch data</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>
{% endblock %}

<div class="container page">
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <hr />
  {% block footer %}
  <footer class="footer">
    <p>Commitator: A WebApp by <a href="mailto:guille.ch.88@gmail.com">Guillermo Carraso</a></p>
  </footer>
  {% endblock %}
</div>
{% block js_footer %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/commitator.js"></script>
<script src="/static/js/GitHub.js"></script>
{% endblock %}
</body>
</html>
