{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<h1>Welcome to Commitator!</h1>
<p>
With this web app, you can see some information about your GitHub organization
in a very cool way! Try it out right now, just introduce the name of your GitHub
organization in the box on the top-right corner, and enjoy!
</p>
<div class="well" style="overflow: auto">
  <div id="reportrange">
    <i class="fa fa-calendar fa-lg"></i>
    <span>Pick up a time period (dafault is last 7 days)</span><b class="caret"></b>
  </div>
</div>
<hr />
<!-- Total commits per repository graph -->
<div id='total_commits_chart'>
  <svg></svg>
</div>
{% endblock %}
